const Category = (props) => {
	return (
		<a href={props.data.path} title={props.data.name} className="category" >{props.data.name}</a>
	);
}

class Categories extends React.Component {
	constructor() {
		super();
		this.state = {
			dropDownOpened: false,
		}
	}

	onSelectCategory() {
		const dropDownOpened = !this.state.dropDownOpened;
		this.setState({dropDownOpened});
	}

	render() {
		const dropDownOpened = this.state.dropDownOpened;
		let contentWrapperClasses = "content-wrapper";
		contentWrapperClasses += dropDownOpened ? " opened" : "";

		const categories = this.props.categories.map((categoryData) => {
			const category = (
				<Category data={categoryData} visible={dropDownOpened} />
			);
			return (
				category
			);
		});

		return (
			<% environment.context_class.instance_eval { include ApplicationHelper } %>
			<div className="categories">
				<div className={contentWrapperClasses}>
					<a href="/" title="Home" className="category home" >
						<%= svg('home_button') %>
						<span>Home</span>
					</a>
					{categories}
					<button className="category-select" onClick={() => this.onSelectCategory()}>select category...</button>
				</div>
			</div>
		);
	}
}