class CategoryArticles extends React.Component {
	constructor() {
		super();
		this.state = {
			articles: [],
			nextPage: 1,
			allArticlesShown: false,
			isLoading: false,
		};
	}
	componentDidMount() {
		this.loadMorePosts();
	}
	loadMorePosts() {
		const urlPath = `/categories/${this.props.category.slug}/posts`;
		fetchArticles(this, urlPath);
	}
	render() {
		const articles = this.state.articles.map((articleData) => {
			const article = (
				<Article data={articleData} defaultImagePath={"<%= image_path('post_default_img') %>"} />
			);
			return (
				article
			);
		});
		return (
			<% environment.context_class.instance_eval { include ApplicationHelper } %>
			<div>
				<div id="articles-container" className="articles">{articles}</div>

				<Progress visible={this.state.isLoading} />

				{	this.state.articles.length > 0
					?
					<div className="default-button load-more" hidden={this.state.allArticlesShown || this.state.isLoading}>
						<a onClick={() => this.loadMorePosts()}>Load more</a>
					</div>
					:
					(
						this.state.isLoading
						?
						null
						:
						<div className="not-found-container">
							<%= svg('not_found') %>
							<h1>We haven’t found any articles with this search phrase.</h1>
							<h2>You can try another search or <a href="/">browsing all articles</a>.</h2>
						</div>
					)
				}
			</div>
		);
	}
}