class Menu extends React.Component {
	constructor() {
		super();
		this.state = {
			isBurgerMenuOpen: false,
		};
	}
	toggleOpen(){
		const isBurgerMenuOpen = !this.state.isBurgerMenuOpen;
		this.setState({isBurgerMenuOpen});
	}
	render() {
		let bugerButtonClasses = "burger";
		let menuOprionsClasses = "menu-options";

		bugerButtonClasses += this.state.isBurgerMenuOpen ? " open" : "";
		menuOprionsClasses += this.state.isBurgerMenuOpen ? " opened" : "";

		return (
			<% environment.context_class.instance_eval { include ApplicationHelper } %>
			<nav className="menu">
				<div className="menu-content">
					<a className="logo" href="https://www.bitrise.io"><%= svg("logo") %></a>
					<ul className={menuOprionsClasses}>
						<li className="menu-option">
							<a href="https://www.bitrise.io/integrations">Integrations</a>
						</li>
						<li className="menu-option">
							<a href="https://www.bitrise.io/pricing">Pricing</a>
						</li>
						<li className="menu-option">
							<a href="https://www.bitrise.io/cli">CLI</a>
						</li>
						<li className="menu-option">
							<a href="https://www.bitrise.io/contact">Contact</a>
						</li>
						<li className="menu-option">
							<a href="http://devcenter.bitrise.io">Docs</a>
						</li>
						<li className="side-menu-options">
							<ul>
								<li className="side-menu-option login">
									<a href="/users/sign_in">Log in</a>
								</li>
								<li className="side-menu-option signup">
									<a href="/users/sign_in">Sign up!</a>
								</li>
							</ul>
						</li>
					</ul>
					<button className={bugerButtonClasses} onClick={() => this.toggleOpen()}><%= svg("burger") %></button>
				</div>
			</nav>
		);
	}
}