<div class="categories">
  <div class="content-wrapper">
    <% @categories.each do |category| %>
      <a class="category screen" href="#"><%= category.name %></a>
    <% end %>
    <a class="category tablet" href="#">select category</a>
  </div>
</div>
