<div class="hero">
  <div class="content-wrapper">
    <div class="hero-inner">
      <div class="newsletter">
        <h1>Bitrise Blog</h1>
        <div class="text">
          <p>Articles about Continuous Integration & Delivery, automation, iOS code signing, DevOps, and awesome tech</p>
          <%= react_component('Subscription') %>
        </div>
      </div>
    </div>
  </div>
</div>
