<div class="hero">
  <div class="content-wrapper">
    <div class="hero-inner">
      <div class="newsletter">
        <h1>Bitrise Blog</h1>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <%= react_component('Subscription') %>
        </div>
      </div>
    </div>
  </div>
</div>
