<div class="navigation">
  <div class="content-wrapper">
    <div class="navigation-bar">
      <a class="logo" href="https://www.bitrise.io"></a>
      <a class="screen" href="https://www.bitrise.io/integrations">Integrations</a>
      <a class="screen" href="https://www.bitrise.io/pricing">Pricing</a>
      <a class="screen" href="https://www.bitrise.io/cli">CLI</a>
      <a class="screen" href="https://www.bitrise.io/contact">Contact</a>
      <a class="screen" href="http://devcenter.bitrise.io">Docs</a>
      <div class="spacer screen"></div>
      <a class="screen login" href="/users/sign_in">Log in</a>
      <a class="screen signup" href="/users/sign_in">Sign up!</a>
      <div class="tablet burger" />
      </div>
    </div>
  </div>
</div>
