<nav class="menu">
  <div class="menu-content">
    <a class="logo" href="https://www.bitrise.io"><%= svg("logo") %></a>
    <ul class="menu-options">
      <li class="menu-option">
        <a href="https://www.bitrise.io/integrations">Integrations</a>
      </li>
      <li class="menu-option">
        <a href="https://www.bitrise.io/pricing">Pricing</a>
      </li>
      <li class="menu-option">
        <a href="https://www.bitrise.io/cli">CLI</a>
      </li>
      <li class="menu-option">
        <a href="https://www.bitrise.io/contact">Contact</a>
      </li>
      <li class="menu-option">
        <a href="http://devcenter.bitrise.io">Docs</a>
      </li>
      <li class="side-menu-options">
        <ul>
          <li class="side-menu-option login">
            <a href="/users/sign_in">Log in</a>
          </li>
          <li class="side-menu-option signup">
            <a href="/users/sign_in">Sign up!</a>
          </li>
        </ul>
      </li>
    </ul>
    <button class="tablet burger" />
    </button>
  </div>
</nav>
