<div class="try-wrapper">
    <div class="container">
        <h2>Try Bitrise</h2>
        <h1>Automate your building, testing and deployment</h1>
        <a href="https://www.bitrise.io/users/sign_up?utm_source=bitriseblog&utm_medium=web&utm_campaign=static" class="start-building-button">Start building for free</a>
    </div>
</div>