/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "blog";
@import "categories";
@import "constants";
@import "footer";
@import "hero";
@import "media";
@import "navigation";

body {
	background-color: #f9fbff;
	font-family: 'Gotham HTF';
	margin: 0;
	padding: 83px 0 0 0;

	.content-wrapper {
		max-width: 1200px;
		padding: 0 60px;
		margin: 0 auto;
	}
}

h2 {
	margin: 0 0 30px 0;
	color: #363636;
	size: 24px;
	font-weight: 500;
}

.more {
	margin-top: auto;

	a {
		display: flex;
		align-items: center;
		max-width: 150px;

		& svg {
			width: 30px;
			height: 30px;
			fill: #8151a8;
			margin-left: 15px;
		}
		&:hover svg {
			fill: white;
		}
	}
}

.default-button {
	margin-top: auto;

	a {
		padding: 10px 15px;
		border: 1px solid #8151a8;
		color: #8151a8;
		border-radius: 5px;
		text-decoration: none;
		transition: .3s color,.3s background,.3s border-color;
		line-height: 46px;
		cursor: pointer;

		&:hover {
			background-color: #8151a8;
			color: #fff;
		}
	}
}

.load-more {
	padding: 45px 0;
	text-align: center;
}

.content {
	width: 100%;
	background-color: #ffffff;

	.hero {
		background-color: #d6fbf0;
	}
}

.article {
	h2 {
		letter-spacing: -.03em;
		line-height: 2.4;
		color: #171c2a;
		margin: 0;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	h3 {
		font-size: 14px;
		color: #acacac;
		font-weight: 300;
		margin: 0;

	}

		p {
			font-weight: 300;
			font-size: 12px;
			line-height: 1.5;
			color: #959595;

			&.category {
				display: inline;
				text-transform: uppercase;
				color: #8151a8;
				background-color: #ffffff;
				border-radius: 5px;
				padding: 5px 10px;
				font-weight: 300;
				font-size: 12px;
			}
		}
}

.featured-article {
	margin: 40px 0;

	.article-container {
		display: flex;
		flex-flow: row wrap;

		@media screen and (max-width: 780px) {
			flex-flow: column wrap;
		}

		.image-container {
			padding: 0 40px 0 0;

			img {
				max-width: 500px;
				border-radius: 5px;
			}
		}

		.article {
			flex: 1;

			display: flex;
			flex-direction: column;

			.article-categories {
				display: flex;
				flex-direction: row;

				p.category {
					font-size: 12px;
					font-weight: 300;
					color: #8151a8;
					text-transform: uppercase;
					padding: 7px 10px;

					&.featured {
						color: #ffffff;
						background-color: #32eab5;
						padding: 7px 22px;
					}
				}
			}

			h2 {
				font-size: 28px;
				font-weight: 300;
				margin: 0;
				padding: 0;
				line-height: 50px;

				a {
					color: #000000;

					&:hover {
						text-decoration: none;
					}
				}
			}

			p {
				color: #959595;
				font-size: 16px;
				font-weight: 100;
				line-height: 20px;
			}
		}
	}
}

.articles {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	.article-container {
		flex-basis: 30%;
		min-height: 250px;

		padding: 0 20px;
		margin: 0 -20px;

		display: flex;
		flex-flow: column wrap;

		background-color: #ffffff;
		border-radius: 5px;

		&:hover {
			background-color: #f3f3f3;
		}


		@media screen and (max-width: 780px) {
			flex-basis: 100%;
		}

		.header-container {
			display: flex;
			flex-direction: row;

			.category, .date {
				flex: 1;
				text-transform: uppercase;
				font-size: 12px;
			}

			.category {
				color: #8151a8;
				font-weight: 300;
			}

			.date {
				color: #7d7d7d;
				font-weight: 100;
				text-align: right;
			}
		}

		.image-container {
			flex: 1;
			overflow: hidden;
			border-radius: 5px;
			display: flex;
			align-items: center;

			img {
				width: 100%;
				height: auto;
			}
		}

		.article {
			flex: 1;

			h2 {
				font-size: 24px;
				line-height: 32px;

				a {
					color: #252525;

					&:hover {
						text-decoration: none;
					}
				}
			}

			p {
				color: #959595;
				font-size: 16px;
				font-weight: 100;
				line-height: 20px;
			}
		}
	}
}


.post-content {
	width: 80%;
	margin: 0 auto;
	& h2 {
		color: black;
		font-size: 26px;
		font-weight: bold;
	}
	& pre {
		background-color: #EBEBEB;
		font-size: 14px;
		padding: 15px;
		line-height: 120%;
		display: block;
		white-space: pre-wrap;
	}
	& p code {
		background-color: #EBEBEB;
		padding: 1px 5px;
	}
	& .author-info {
		width: 70%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding: 62px 0px 45px 0px;
		& a {
			text-decoration: none;
			color: #252525;
		}
		& img {
			max-width: 60px;
			border-radius: 50px;
		}
		& .name-and-title {
			margin-left: 17px;
		}
		& .name-and-title p {
			margin: 0;
			color: #959595;
		}
	}
	& .post-title {
		font-size: 40px;
		width: 70%;
		margin: 0 auto;
		//font-family: 'Gotham HFT';
	}
	& .publish-date-and-tags {
		display: flex;
		align-items: center;
		width: 70%;
		margin: 0 auto;
		& .publish-date {
			color: #959595;
		}
		& .divider-slash {
			color: #959595;
			margin: 0px 5px;
		}
		& .category-element {
			color: #8151a8;
			text-decoration: none;
			font-weight: bold;
			cursor: pointer;
		}
	}
	& .post-featured-image {
		text-align: center;
	}
	& .post-featured-image img {
		max-width: 100%;
	}
	& .post-body {
		width: 70%;
		margin: 0 auto;
		& img {
			max-width: 100%;
		}
		& a {
			color: #00bc98;
		}
	}
	& .next-post {
		width: 70%;
		margin: 0 auto;
		text-align: right;
		& .next-post-button {
			padding: 10px 15px;
			border: 1px solid #8151a8;
			color: #8151a8;
			border-radius: 5px;
			text-decoration: none;
			transition: .3s color,.3s background,.3s border-color;
			line-height: 46px;

			&:hover {
				background-color: #8151a8;
				color: #fff;
			}
		}
	}
	& .disqus-container {
		width: 70%;
		margin: 0 auto;
		padding: 50px 0;
	}
}
.try-wrapper {
	background: -webkit-linear-gradient(#32eab5, #44bda6);
	display: flex;
	align-items: center;
	height: 240px;
	color: white;
	margin-top: 50px;
	& .container {
		flex-flow: column;
		text-align: center;
		margin: 0 auto;
	}
	& h2 {
		margin: 0;
		color: white;
		font-weight: 100;
		font-size: 18px;
		text-transform: uppercase;
	}
	& h1 {
		font-size: 24px;
		font-weight: 500;
		padding-bottom: 10px;
	}
	& a {
		background: #8151a8;
		padding: 15px 20px;
		border: 1px solid #8151a8;
		color: white;
		border-radius: 5px;
		text-decoration: none;
		line-height: 46px;
		font-size: 14px;
		text-transform: uppercase;
	}
}

.share-article {
	display: flex;
	align-items: center;
	flex-flow: column;
	padding: 20px 0;
	& h3 {
		color: #959595;
		font-weight: 300;
		font-size: 12px;
		text-transform: uppercase;
	}
	& div svg {
		max-width: 30px;
	}
	& .social-icons {
		width: 100%;
		text-align: center;
		& span {
			margin: 0 5px;
		}
		& .fb-container svg {
			fill: #4C76BE;
		}
		& .twitter-container svg {
			fill: #00C7FF;
		}
		& .linkedin-container svg {
			fill: #0B86CA;
		}
		& .yc-container svg {
			fill: #F17420;
		}
	}
}
.v3-button {
	text-decoration: none;
	padding: 10px;
}
.top-footer div a {
	text-decoration: none;
}