.categories {
  background-color: #e9d8f7;
  height: 45px;
  width: 100%;

  a {
    text-transform: uppercase;
    color: #8151a8;
    text-decoration: none;
    padding: 0 50px 0 0;
    line-height: 45px;
    font-weight: 300;
    font-size: 12px;
  }
}
