.categories {
	background-color: #e9d8f7;
	width: 100%;

	a {
		background-color: #e9d8f7;
		text-transform: uppercase;
		color: #8151a8;
		text-decoration: none;
		padding: 0 50px 0 0;
		line-height: 45px;
		font-weight: 300;
		font-size: 12px;

		@include media-below-big {
			padding-left: 50px;
		}

		&.home {
			display: flex;
			align-items: center;
			span {
				padding-left: 5px;
			}
		}

		svg {
			width: 15px;
			stroke: $v3_default_purple;
			stroke-width: 3px;
			@include padding-y(1px);
		}
	}
	.content-wrapper {
		display: flex;
		@include transition(top 0.3s);
		margin: initial;
		padding: 0 $navbar-padding-x;

		@include media-below-big {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: -142px;
			width: 100%;
			padding: 0;
			height: auto;

			&.opened {
				top: 83px;
			}
		}
	}
}
.category-content, .author-content {
	max-width: 1200px;
	padding: 0 60px;
	margin: 0 auto;
	& .category-header, .author-header {
		display: flex;
		padding: 52px 0px 49px 0px;
		& h2 {
			margin: 0 auto;
			font-weight: 300;
			& .category-name, .author-name {
				color: #8151a8;
				font-weight: bold;
			}
		}
	}
}

.category-select {
	background-color: #e9d8f7;
	width: 100%;
	text-transform: uppercase;
	color: #8151a8;
	text-align: left;
	border: none;
	cursor: pointer;
	line-height: 45px;
	font-size: 12px;
	padding: 0 0 0 50px;
	@include no-focus-styling;
	font-family: 'Gotham HTF';

	@include media-above-inclusive-big {
		display: none;
	}
}