@import "default";
@import "constants";

nav {
  $navbar-height: 83px;
  $navbar-height-sm: 63px;
  @include position(fixed, 0, 0);
  z-index: $zindex-top_navigation;

  @include media-above-inclusive-small {
    @include size(100%, $navbar-height);
  }

  @include media-below-small {
    @include size(100%, $navbar-height-sm);
  }

  &:before {
    content: "";
    @include position(absolute, 0, 0);
    @include size(100%);
    background-color: $v3_default_purple;
  }
  .menu-content {
    @include position(absolute, 0, 0);
    @include display-flex;
    @include size(100%);
    @include align-items(center);
    @include box-sizing(border-box);

    @include media-above-inclusive-big {
      padding: $navbar-padding-y $navbar-padding-x;
    }

    @include media-below-big {
      padding: $navbar-padding-y 28px;
    }

    a.logo {
      @include media-above-inclusive-small {
        padding: 10px 20px;
      }

      @include media-below-small {
        padding: 8px 16px;
      }

      svg {
        @include media-above-inclusive-small {
          @include size(115px, 30px);
        }

        @include media-below-small {
          @include size(86px, 23px);
        }
      }
    }

    @include media-above-inclusive-big {
      ul.menu-options {
        @include flex-grow(1);
        @include display-flex;
        @include align-items(stretch);
        @include align-self(stretch);
        @include margin-y(0);
        padding-left: 0;
        list-style: none;

        li.menu-option {
          @include display-flex;
          @include align-items(stretch);

          &:hover a {
            color: black;
          }

          a {
            @include padding-x(20px);
            text-decoration: none;
            @include display-flex;
            @include align-items(center);
            color: white;
            @include transition(color $default_transitiontime_short);
          }
        }

        li.side-menu-options {
          @include display-flex;
          @include align-items(center);
          margin-left: auto;

          ul {
            @include display-flex;
            @include margin-y(0);
            padding-left: 0;
            list-style: none;

            li {
              margin-left: 10px;
              white-space: nowrap;
              @include transition(border-color $default_transitiontime_short, color $default_transitiontime_short, background-color $default_transitiontime_short);

              a {
                display: block;
                @include padding-y(10px);
              }

              &.login {
                @include border-radius($v3_default_radius);
                border: 1px solid white;

                &:hover, &:focus {
                  background-color: white;
                  a {
                    color: $v3_default_purple;
                  }
                }
              }

              &.login a {
                @include padding-x(15px);
                color: white;
                text-decoration: none;
                font-weight: 300;
              }

              &.signup {
                @include border-radius($v3_default_radius);
                background-color: $v3_default_green;
                border: 1px solid $v3_default_green;

                &:hover, &:focus {
                  background-color: $v3_default_green_tint;
                  border-color: $v3_default_green_tint;
                }
              }

              &.signup a {
                @include padding-x(35px);
                color: white;
                text-decoration: none;
                font-weight: 300;
              }
            }
          }
        }
      }
      button.burger {
        display: none;
      }
    }
    @include media-below-big {
      ul.menu-options {
        @include position(absolute, null, 0, 0);
        z-index: $zindex-hidden_header;
        width: 100%;
        @include margin-y(0);
        padding-left: 0;
        list-style: none;
        background-color: $v3_default_purple_tint;
        color: white;
        @include transition(transform 0.3s);

        &.opened {
          @include transform(translateY(100%));
        }

        .side-menu-options ul {
          @include margin-y(0);
          padding-left: 0;
          list-style: none;
        }
        li.menu-option, li.side-menu-option {
          border-bottom: 1px solid $v3_default_purple;

          a {
            display: block;
            padding: 16px $navbar-padding-x;
            font-size: 14px;
            font-weight: 300;
            color: white;
            text-decoration: none;
            @include transition(background-color $default_transitiontime_short);

            &:hover, &:focus {
              background-color: $default_purpletint;
            }
          }
        }

        li.side-menu-option.signup a {
          font-weight: 500;
        }
      }
      button.burger {
        margin-left: auto;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        @include transition(background-color $default_transitiontime_short);
        @include no-focus-styling;

        @include media-above-inclusive-big {
          margin-right: -$navbar-padding-x;
          margin-top: -$navbar-padding-y;
        }

        @include media-below-big {
          margin-right: -28px;
          margin-top: 0;
        }

        @include media-above-inclusive-small {
          @include size($navbar-height, $navbar-height);

          svg {
            @include size(27px);
            fill: white;
          }
        }

        @include media-below-small {
          @include size($navbar-height-sm, $navbar-height-sm);

          svg {
            @include size(21px);
            fill: white;
          }
        }

        &:hover, &:focus, &.open {
          background-color: $v3_default_purple_tint;
        }

        &.open {
          &:hover, &:focus {
            background-color: $default_purpletint;
          }
        }
      }
    }
  }
}
